<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17126405609-9na5m3b7b0d2tqqf4jsdgamf7sq4a5ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17126405609-9na5m3b7b0d2tqqf4jsdgamf7sq4a5ns</string>
	<key>API_KEY</key>
	<string>AIzaSyCfaphfdFJj5NAMPYCgZM14ff6MGgtZYVk</string>
	<key>GCM_SENDER_ID</key>
	<string>17126405609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.SpreadLove</string>
	<key>PROJECT_ID</key>
	<string>spread-love-d65eb</string>
	<key>STORAGE_BUCKET</key>
	<string>spread-love-d65eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17126405609:ios:eeb84fe785f85311000778</string>
</dict>
</plist>